{% extends "base.html" %}
{% block body %}
<div class="container">
    <h3>Официальная информация</h3>
    <p><b class="font-weight-bold">Полное наименование:</b> Санкт-Петербургское государственное бюджетное учреждение культуры «Центральная
        городская публичная библиотека имени В. В. Маяковского»</p>
    <p><b class="font-weight-bold">Краткое название:</b> СПб ГБУК «ЦГПБ имени В. В. Маяковского»</p>
    <p><b class="font-weight-bold"></b> Дата регистрации: 09.08.1996 г.</p>
    <p><b class="font-weight-bold">Учредитель:</b> Комитет по культуре Санкт-Петербурга. Адрес: 191186, Санкт-Петербург, Невский пр., д. 40</p>
    <p><b class="font-weight-bold">Юридический адрес:</b> 191025, Санкт-Петербург, наб. р. Фонтанки, д. 46</p>
    <p><b class="font-weight-bold">Телефон:</b> (812) 246-64-01 (Администрация)</p>
    <p><b class="font-weight-bold">Адрес официального сайта:</b> pl.spb.ru</p>
    <p><b class="font-weight-bold">Директор:</b> Чалова Зоя Васильевна</p>
    <p><b class="font-weight-bold">E-mail:</b> office@cgpb.ru</p>
</div>
{% endblock body %}