{% extends "base.html" %}
{% block body %}
<div class="container">
    <h2 class="text-center">Администрация</h2>
    <h4>
        <b>Адреc:</b> Наб. реки Фонтанки, 46 (м. «Гостиный двор», «Невский проспект», «Маяковская»)<br>
        <b>Часы приёма:</b> пн-пт 10:00−18:00
    </h4>
    <h5 class="text-center">
        Чалова Зоя Васильевна
    </h5>
    <h6 class="text-center">
        Директор
    </h6>
    <p>
        В 1986 г. З. В. Чалова стала директором Центральной городской библиотеки им. В. В. Маяковского. Благодаря ее усилиям, библиотека сохранила за собой здание на наб. р. Фонтанки, дом 44, и получила здание на наб. р. Фонтанки, дом 46, для развития отдела литературы на иностранных языках. Также были открыты новые подразделения библиотеки: Центр деловой и социально-правовой информации, Центр петербурговедения, Информационно-досуговый центр «М-86», Отдел литературы по искусству и музыке, полностью обновлено пространство библиотеки на Большеохтинском пр., д.8 и открыт библиотечный центр «ОХТА».

        Благодаря З. В. Чаловой Маяковка начала сотрудничать с коммерческими структурами, предоставляя свои услуги в торговых и общественных пространствах. Сейчас подразделения ЦГПБ им. Маяковского располагаются в ТРЦ «Охта молл», общественно-деловом пространстве «Севкабель Порт».

        Инициатива и авторитет Зои Васильевны способствовали проведению в начале нынешнего века модернизации библиотек Санкт-Петербурга, созданию и успешному развитию уникальной для России Корпоративной сети общедоступных библиотек города и формированию Единой системы библиотечного обслуживания.

        З. В. Чалова — заслуженный работник культуры РФ, Президент Петербургского библиотечного общества.
    </p>
    <br><br>
    <h5 class="text-center">
        Ахти Елена Геннадьевна
    </h5>
    <h6 class="text-center">
        Заместитель директора по развитию
    </h6>
    <p>
        Определяет основные стратегические направления развития библиотеки. Отвечает за организацию научной деятельности библиотеки (проведение исследований, организация конференций, семинаров, круглых столов, разработка проектов и программ). Определяет и организует работу библиотеки, как методического центра в регионе и как головного сетевого центра Корпоративной сети общедоступных библиотек Санкт-Петербурга. Отвечает за организацию и развитие системы повышения квалификации библиотечных специалистов. Координирует установление и развитие внешних связей библиотеки, в том числе международных.
    </p>
</div>
{% endblock body %}