{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body bg-light">
            <h5 class="card-title">Фонтанка, 44</h5>
            <h6 class="card-subtitle mb-2 text-muted">ежедневно: 11.00-21.00</h6>
            <p class="card-text">Главное здание библиотеки в бывшем подворье Троице-Сергиевой лавры и её главный фонд — около 500 тысяч книг.

            На первом этаже и двух «антресолях» — литература, которую можно взять на дом. Здесь расставлена литература с 2011 года издания и журналы. Чтобы взять книги, изданные до 2011 года, нужно оставить заказ на абонементе. Сдать и взять книгу также можно на станциях самообслуживания по всему зданию. На втором этаже (отдел читальных залов) — базовая отраслевая литература по всем разделам знаний, а также коллекция редких изданий, работать с которыми можно только внутри библиотеки и по предварительному запросу.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body bg-light">
            <h5 class="card-title">Фонтанка, 46</h5>
            <h6 class="card-subtitle mb-2 text-muted">ежедневно: 11.00-21.00</h6>
            <p class="card-text">
                Сейчас здание на ремонте. Библиотека в бывшем особняке графини Н. Ф. Карловой. В Отделе литературы на иностранных языках — 75 тысяч книг и журналов на 193 языках и диалектах мира. На время ремонта отдел обслуживает читателей в цокольном этаже Фонтанки, 44 — а книги нужно предварительно заказывать с помощью портала общедоступных библиотек,  группы в ВК или по телефону (812) 246-64-40.
            </p>
        </div>
    </div>
     <br>
    <div class="card">
        <div class="card-body bg-light">
            <h5 class="card-title">Невский, 20</h5>
            <h6 class="card-subtitle mb-2 text-muted">пн-сб: 11.00-20.00, вс: 11.00-18.00 («Невский ART»)</h6>
            <p class="card-text">Отдел литературы по искусству и музыке «Невский ART» в здании бывшей Голландской церкви. 200 тысяч книг по искусству и музыке, журналов, газет, а также грампластинок, редких нот и мультимедийных документов — много дорогих изданий, которых нет ни в одной другой библиотеке города. Есть три электронных пианино и синтезатор для работы с нотами. Проводятся экскурсии по истории церкви. В малом зале и ротонде можно посмотреть выставку современного искусства или услышать органный концерт.</p>
        </div>
    </div>
     <br>
    <div class="card">
        <div class="card-body bg-light">
            <h5 class="card-title">Московский, 86</h5>
            <h6 class="card-subtitle mb-2 text-muted">вт-сб: 11.00-20.00, вс: 11.00-18.00, пн: выходной</h6>
            <p class="card-text">Отдел с самым технологичным набором услуг. Более 10 тысяч изданий: современная художественная литература для детей и взрослых, подборка комиксов на русском и иностранных языках, книги по графическому дизайну, фотографии, журнальный фонд и настольные игры. Библиотекари ведут видеоблоги «Ловцы книг», «Библиотрип» и «Гуляя по Питеру» о книгах, путешествиях и Петербурге.</p>
        </div>
    </div>
</div>
{% endblock body %}