{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Какой у библиотеки график работы? И что такое летний режим?</p>
                <footer class="blockquote-footer">С 1 сентября по 30 июня библиотека имени Маяковского работает в зимнем режиме, а с 1 июля по 31 августа — в летнем.

                Стандартный график — ежедневно с 11:00 до 21:00, но во всех отделах часы работы немного различаются.</footer>
            </blockquote>
        </div>
    </div><br>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Можно ли записаться через Интернет, не приходя в библиотеку? Какие услуги я смогу получить онлайн?</p>
                <footer class="blockquote-footer">На сайте библиотеки можно оформить виртуальный читательский билет.
                Это даст возможность пользоваться почти всем Виртуальным читальным залом — но Вам всё-таки придётся оформить физический читательский билет, если Вы хотите:
                брать книги на дом;
                получить доступ к ЛитРес, Bookmate или MyBook.</footer>
            </blockquote>
        </div>
    </div><br>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Какие документы нужны для записи в библиотеку?</p>
                <footer class="blockquote-footer"><b>Если вы гражданин РФ:</b>
                    Паспорт РФ.
                    <b>Для иностранных граждан:</b>
                    паспорт иностранного гражданина или заменяющий его документ.
                    Для возможности получения книг на дом необходима регистрация в Санкт-Петербурге, срок окончания которой не позднее 3-х месяцев от даты регистрации.</footer>
            </blockquote>
        </div>
    </div><br>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Сколько книг можно взять на дом и на какой срок? Как продлить срок пользования книгами?</p>
                <footer class="blockquote-footer">Одновременно на дом можно взять 10 книг и 10 журналов.
                    Литература на дом выдается на срок <b>30 дней.</b>

                    Продлить книги можно один раз на <b>15 дней.</b> </footer>
            </blockquote>
        </div>
    </div><br>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Как узнать, есть ли книга в библиотеке?</p>
                <footer class="blockquote-footer">Через электронный каталог библиотеки — или в самой библиотеке: самостоятельно или с помощью библиотекаря.
                Кроме того, можно написать в Онлайн-консультант или позвонить по телефону 246-64-00.</footer>
            </blockquote>
        </div>
    </div>
</div>
{% endblock body %}