{% extends "base.html" %}
{% block body %}
<div class="container">
    <form method="post" action="/">
        {% csrf_token %}
        <p>Название:<br> <input class="form-control" name="name" placeholder="Введите название книги"/></p>
        <p>Автор:<br> <input class="form-control" name="author" placeholder="Введите автора книги"/></p>
        <input class="btn btn-secondary" type="submit" value="Поиск" />
    </form>
    <br>
    {%for book in data%}
        <div class="card border-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{book.pub_date}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{book.author.author_name}}</h6>
                <a href="{% url 'book_page' book.id %}" class="btn btn-secondary">Подробнее</a>
            </div>
        </div><br>
    {%endfor%}
</div>
{% endblock body %}